.header {
    display: flex;
    justify-content: space-between;
    border: 5px solid rgb(194, 169, 8);
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
}
.logo {
    width: 150px;
    padding: 2px;
}
.cart {
    width: 40px;
    padding: 2px;
    color: aliceblue;
}
.body {
    background-color: rgba(255, 217, 0, 0.916);
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 8px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 15px;
    text-decoration: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
    color: #f0f0f0;
    font-family: sans-serif; 
}
.nav-items > ul > li :hover {
    color: rgba(255, 217, 0, 0.916);
}
.nav-items > ul > li :link {
    text-decoration: none;
    color: #f0f0f0;
}
.nav-items > ul > li :visited {
    color: #f0f0f0;
}
.nav-items {
    align-items: baseline;
    text-decoration: none;
}
.res-card {
    width: 250px;
    border: 1px solid black;
    background-color: #f0f0f0;
    padding: 5px; 
    margin: 10px;
    border-radius: 8px; 
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    
} 
.res-card:hover {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,1.5);
    cursor: pointer;
    transform: translateY(-2px);
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 20px;
    font-family: sans-serif;
}
.res-logo {
    display: flex;
    width: 100%;
    height: 40%;
}
.filter {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.filterBtn {
    margin: 5px;
    padding: 5px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 8px;
    background-color: rgb(233, 249, 8);
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,.8);
    margin-top: 22px;
}
.filterBtn:hover {
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,1.5);
    cursor: pointer;
}
.shimmer-card-cont{
    background-color: rgb(178, 173, 173);
    border-radius: 8px;
}
.login {
    padding: 10px;
    margin: 10px;
    width: 70px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 8px;
    text-decoration: solid;
    font-family: sans-serif; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    box-shadow: 3px 3px 5px 1px rgb(180, 172, 16);
    cursor: pointer;
    transition: 2.5s all;
}
.login :active {
    box-shadow: 3px 3px 5px 1px rgb(180, 172, 16);
    transform: translateY(30px); 
}
.search {
    padding: 10px;
    margin: 10px;
    font-family: fantasy; 
}
.search-box {
    border: 3px solid black;
    width: 40vmin;
    height: 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,.8);
    cursor: text;
}
.searchBtn {
    border: 1px solid black;
    height: 30px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,.8);
    cursor: pointer;
    transition: 2.5s all;
}


